.Phonetics .AudioButton{
    border: 1px solid #fff1eb;
    border-radius: 50px;
    font-size: 11px;
    padding: 3px 3px;
    line-height: 10px;
    margin-right: 10px;
}
.fa-play-circle{
    font-size: 27px;
    color: #7fbb9d;
}
.fa-play-circle:hover{
    color: #921e88;
}

.Phonetics .Text {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin-right: 30px;
}