
.Search section{
    background-color:#fff;
    border-radius: 14px;
    padding: 15px 30px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0 5px 5px 0;
    opacity: 0.9;
}
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.hint{
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    opacity: 0.5;
}
.Search input {
    width: 100%;
    padding: 20px 24px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Spartan', sans-serif;

}