.Synonyms{
   margin: 20px 0 0;
   padding: 0;
}
.Synonyms strong{
   font-family: 'Quicksand', sans-serif;
   line-height: 30px;
   font-size: 12px;
}
.Synonyms li{
   font-family: 'Spartan', sans-serif;
   list-style: none;
   font-size: 13px;
   display: inline-block;
   line-height: 20px;
   padding-right: 15px;
}
